name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" # 每天北京时间早上 8 点运行
  workflow_dispatch: # 允许手动运行
  push:
    branches:
      - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: sixiaopangai
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#a371f7&color_dots=#161b22,#452c63,#5a3a7f,#845ef7,#a371f7
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#a371f7&color_dots=#161b22,#452c63,#5a3a7f,#845ef7,#a371f7
          
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
